[client]
port = 3306
socket = /usr/local/mysql/data/mysqld.sock

[mysqld]
port = 3306
socket = /usr/local/mysql/data/mysqld.sock
default_time_zone = '+8:00'

character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
default_storage_engine = INNODB
default_tmp_storage_engine = INNODB
explicit_defaults_for_timestamp = ON
lower_case_table_names = 1
bind_address = 0.0.0.0

max_connections = 1000
max_user_connections = 3600
max_connect_errors = 1000
open_files_limit = 4096
table_open_cache = 400
table_definition_cache = 1400
max_heap_table_size = 512M
tmp_table_size = 4G
event_scheduler = 1
#sql_mode = "NO_ENGINE_SUBSTITUTION"
log_timestamps = SYSTEM

connect_timeout = 20
wait_timeout = 86400
interactive_timeout = 86400
skip_name_resolve = ON

thread_cache_size = 1024
key_buffer_size = 1024M
read_buffer_size = 8M
read_rnd_buffer_size = 4M
sort_buffer_size = 256M
join_buffer_size = 8M
thread_stack = 256k
bulk_insert_buffer_size = 64M
skip_external_locking = ON

innodb_print_all_deadlocks = ON
innodb_log_buffer_size = 16M
innodb_buffer_pool_size = 2G
innodb_log_file_size = 200M
innodb_log_files_in_group = 3
innodb_thread_concurrency = 0
innodb_autoextend_increment = 64
innodb_buffer_pool_instances = 8
innodb_concurrency_tickets = 5000
innodb_old_blocks_pct = 37
innodb_old_blocks_time = 1000
innodb_file_per_table = 1
innodb_open_files = 3000
innodb_stats_persistent = ON
innodb_stats_on_metadata = OFF
innodb_checksum_algorithm = crc32
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 600
back_log = 2000
flush_time = 0

slow_query_log = ON
slow_query_log_file = /usr/local/mysql/logs/mysqld_slow_query.log
long_query_time = 3
#5.7
#expire_logs_days = 7
#8.0
#binlog_expire_logs_seconds = 604800
log_error = /usr/local/mysql/logs/mysqld_error.log
log_queries_not_using_indexes = OFF
general_log = on
general_log_file = /usr/local/mysql/logs/mysqld_general.log

binlog_format = row
server_id = 120
log_bin = mysql_bin
log_bin_index = mysql_bin.index
relay_log = relay_bin_log
relay_log_index = relay_bin_log.index
relay_log_recovery = ON
max_relay_log_size = 1G
sync_binlog = 1
sync_master_info = 10000
sync_relay_log = 10000
sync_relay_log_info = 10000
binlog_ignore_db = mysql
binlog_ignore_db = test
replicate_ignore_db = mysql
replicate_ignore_db = test
log_slave_updates = ON
binlog_row_event_max_size = 8K
innodb_autoinc_lock_mode = 2
slave_net_timeout = 600
log_bin_trust_function_creators = true
innodb_flush_log_at_trx_commit = 2
skip_slave_start = OFF
auto_increment_increment = 2
auto_increment_offset = 1
slave_skip_errors = 1032,1064,1062,1022
slave_parallel_workers = 2

gtid_mode = ON
enforce_gtid_consistency = true
master_info_repository = TABLE
relay_log_info_repository = TABLE
binlog_checksum = CRC32
master_verify_checksum = 1
slave_sql_verify_checksum = 1
binlog_rows_query_log_events = 1 
binlog_row_image = 'minimal' 

datadir = /usr/local/mysql/data
innodb_data_file_path = ibdata1:2G:autoextend

[mysqld_safe]
pid_file = /usr/local/mysql/data/mysqld.pid

[mysqldump]
max_allowed_packet = 128M